# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Lambda zip
lambda/**/*.zip

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store

# Secrets

# Secrets
*.pem
.env